@inject ActivityController ActivityController
@inject IStringLocalizer<ActivityLocales> Localize

<GenericTaskCard Task="Task" EditMode="EditMode" OnRemove="OnRemove" OnNameChange="OnNameChange" TaskType="Task.TaskType">
    <TaskDetailTemplate>
        @if (EditMode)
        {
            <div class="mt-6">
                <FolderPickerInput Label="@Localize["Task.Dialog.VSCodeTask.DirectoryPath.Label"]" @bind-FolderPath="Task.DirectoryPath" />
            </div>
        }
        else
        {
            <MudStack Row AlignItems="AlignItems.Center">
                <MudTooltip Text="@Localize["Task.Dialog.VSCodeTask.DirectoryPath.Label"]">
                    <MudIcon Icon="@Icons.Material.Filled.Folder" />
                </MudTooltip>
                @if (!string.IsNullOrWhiteSpace(Task.DirectoryPath))
                {
                    <code style="font-size: 1rem;">@Task.DirectoryPath</code>
                }
                else
                {
                    <MudText Typo="Typo.body1">@Localize["Task.Dialog.VSCodeTask.DirectoryPath.Empty"]</MudText>
                }
            </MudStack>
        }
    </TaskDetailTemplate>
</GenericTaskCard>

@code {
    [Parameter]
    public VSCodeTask Task { get; set; } = null!;

    [Parameter]
    public bool EditMode { get; set; } = false;

    [Parameter]
    public EventCallback OnNameChange { get; set; }

    [Parameter]
    public EventCallback OnRemove { get; set; }
}
