@attribute [Route(Routes.AboutPage)]

@inject IStringLocalizer<AboutPageLocales> Localize
@inject IActivitiesStartupService StartupService

<MudContainer MaxWidth="MaxWidth.Large">
    <MudText Typo="Typo.h4" Class="mb-6">@Localize["Title"]</MudText>

    <MudText Class="mb-6" Typo="Typo.body2">@Localize["Description"]</MudText>
    
    <MudText Class="mb-2" Typo="Typo.h6" Color="Color.Error">@Localize["Disclaimer.Title"]</MudText>
    <ul class="mb-6 mud-error-text" style="list-style: inside disc;">
        <li class="mb-3">@(new MarkupString(Localize["Disclaimer.Content"]))</li>
        <li class="mb-3">@(new MarkupString(Localize["Disclaimer.Requirements"]))</li>
        <li class="mb-3">@(new MarkupString(Localize["Disclaimer.OptionalSoftware"]))</li>
    </ul>
    
    <MudText Class="mb-2" Typo="Typo.h6">@Localize["Startup.Setup"]</MudText>
    <MudText Class="mb-16" Typo="Typo.body1">@(new MarkupString(Localize["Startup.Setup.Instructions", StartupService.GetStartupFilePath(), StartupService.GetDemoStartupDirectoryPath()]))</MudText>
    
    <MudText Class="mb-2" Typo="Typo.h6">@Localize["About.Title"]</MudText>
    <MudText Class="mb-16" Typo="Typo.body1">@(new MarkupString(Localize["About.Description"]))</MudText>
</MudContainer>
