@using FastWorkspace.Domain.Common;
@using FastWorkspace.Domain.Common.Localization;
@using FastWorkspace.Domain.Jobs;
@using System.Globalization;

@inject IWorkspaceStore WorkspaceStore
@inject IAppConfiguration AppConfiguration
@inject NavigationManager Navigation
@inject IStringLocalizer<AppLocales> Localize

@attribute [Route(Routes.ConfigurationPage)]

<main class="ma-16" style="height: 100%;">
    <MudText Typo="Typo.h4" Class="mb-2">@Localize["Configuration.Title"]</MudText>

    @if (_firstLaunch)
    {
        <MudText Typo="Typo.subtitle1" Class="mb-4">@Localize["Configuration.WelcomeMessage"]</MudText>
    }

    <MudStack Spacing="4">
        <div>
            <MudText Typo="Typo.h6">@Localize["Configuration.Language.Label"]</MudText>
            <MudRadioGroup @bind-SelectedOption="_language">
                <MudRadio Option="Language.English" Color="Color.Primary">@Localize["Configuration.Language.English"]</MudRadio>
                <MudRadio Option="Language.French" Color="Color.Primary">@Localize["Configuration.Language.French"]</MudRadio>
            </MudRadioGroup>
        </div>
        <div>
            <MudText Typo="Typo.h6">@Localize["Configuration.Theme.Label"]</MudText>
            <MudRadioGroup @bind-SelectedOption="_theme">
                <MudRadio Option="Theme.Light" Color="Color.Primary">@Localize["Configuration.Theme.Light"]</MudRadio>
                <MudRadio Option="Theme.Dark" Color="Color.Primary">@Localize["Configuration.Theme.Dark"]</MudRadio>
            </MudRadioGroup>
        </div>
        <div>
            <MudText Typo="Typo.h6">@Localize["Configuration.FileStorage.Label"]</MudText>
            <MudText Typo="Typo.body1" Class="mb-2">@Localize["Configuration.FileStorage.Help"]</MudText>
            <FolderPickerInput Label="@Localize["Configuration.FileStorage.FolderPicker.Label"]" @bind-FolderPath="_fileStorageDirectoryPath" />
        </div>
        <div class="mt-16">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="string.IsNullOrWhiteSpace(_fileStorageDirectoryPath)" OnClick="OnSubmit">@Localize["Configuration.Save.Button"]</MudButton>
            <ErrorText Error="@_error" />
        </div>
    </MudStack>
</main>

@code {
    private bool _firstLaunch;
    private Language _language;
    private Theme _theme;
    private string? _fileStorageDirectoryPath;

    private string? _error;

    protected override void OnInitialized()
    {
        _language = AppConfiguration.GetLanguage();
        _theme = AppConfiguration.GetTheme();
        _fileStorageDirectoryPath = AppConfiguration.GetFileStorageDirectoryPath();
        _firstLaunch = _fileStorageDirectoryPath == null;
    }

    private void OnSubmit()
    {
        if (string.IsNullOrWhiteSpace(_fileStorageDirectoryPath))
        {
            _error = Localize["Configuration.Errors.EmptyFileStorage"];
        }

        if (AppConfiguration.SetFileStorageDirectoryPath(_fileStorageDirectoryPath))
        {
            WorkspaceStore.SetupStore();
            AppConfiguration.SetLanguage(_language);
            AppConfiguration.SetTheme(_theme);
            Navigation.NavigateTo(Routes.HomePage, forceLoad: true, replace: true);
        }
        else
        {
            _error = Localize["Configuration.Errors.InvalidFileStorage"];
        }
    }
}



